.fetching {
    margin: 30vh auto;
    height: 120px;
    width: 180px;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgb(0, 255, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    animation: fetching-load 3s infinite;
}

@keyframes fetching-load {
    0% {
        transform: rotateY(0deg)  rotateX(0deg) perspective(200px);
    }

    51% {
        transform: rotateY(360deg) rotateX(15deg) perspective(0);
        background-color: rgb(247, 10, 10);
    }

    100% {
        transform: rotateY(0deg) rotateX(0deg) perspective(400px);
    }
}



.item__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .item__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}